# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*.pyo
*$py.class

# ======================================
# Virtual Environment
# ======================================
.venv/
venv/
env/

# ======================================
# IDE
# ======================================
.vscode/
.idea/

# ======================================
# Streamlit
# ======================================
.streamlit/

# ======================================
# Environment Variables
# ======================================
.env

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Databases
# ======================================
*.duckdb
*.duckdb.wal

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# OS Files
# ======================================
.DS_Store
Thumbs.db